body{
    background-image: url(index.jpg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

:root{
    --bg-color: #081b29;
    --second-bg-color: #112e42;
    --text-color: #ededed;
    --main-color: #28d481;
}
.how{
    color: transparent;
    text-align: center;
    font-size: 80px;
    font-family: "Press Start 2P", system-ui;
    font-weight: 500;
    -webkit-text-stroke: .7px var(--main-color);
    background-image:linear-gradient(var(--text-color),var(--main-color)) ;
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    background-position: -30rem 0;
    animation: homeBgtext 6s linear infinite;
    animation-delay: 2s;
}

.how::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    border-right: 2px solid var(--main-color);
    z-index: -1;
    animation: homeCursortext 6s linear infinite;
    animation-delay: 2s;
}

@keyframes homeBgtext{
    0%, 10%, 100%{
        background-position: -100rem 0;
    }
    65% ,85%{
        background-position:0 0;
    }
}

@keyframes homeCursortext{
    0%, 10%, 100%{
        width: 0;
    }
    65%,78% ,85%{
        width: 100%;
        opacity: 1;
    }
    75%,81%{
        opacity: 0;
    }
}

.container{
    background-color: transparent;
    width: 80vnim;
    max-width: 100.5em;
    padding: 3em 2.5em;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border-radius: 1.62em;
    box-shadow: 0 1.2em 2.5em rgba(0, 21, 44,0);
    position: center;
}

h2{
    font-size: 2.8em;
    color: rgb(40, 50, 164);
    text-align: center;
    font-weight: 600;
    letter-spacing: 0.5px;
    margin-bottom: 1.3em;
}

.wrapper{
    display: flex;
    justify-content: space-between;
    gap: 2.8em;
    font-family: monospace;
}

label{
    display: block;
    margin-bottom: 0.5em;
    font-weight: 500;
    color: rgb(255, 255, 255);
}

input{
    position: relative;
    font-size: 1.1em;
    width: 100%;
    padding: 0.5em;
    border-radius: 0.2em;
    border: 1.5px solid grey;
    color:#112e42;
    outline: none;
}

input:focus{
    border-color:rgb(255, 0, 68);
    color:rgb(255, 0, 68)
}

#error-inp{
    background-color: black;
    text-align: center;
    margin-top: 1.25em;
    font-size: 150%;
    color: rgb(255, 7, 7);
    font-family: "Press Start 2P", system-ui;
}



